*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  color: #2C3E50;
  font-weight: 300;
  line-height: 1.6; }

.overlay-section {
  min-height: 80rem;
  background: rgba(0, 0, 0, 0.4); }

.heading-1 {
  font-size: 6rem;
  color: #fff; }

.heading-3 {
  font-size: 3.5rem;
  color: #2C3E50;
  font-weight: 300; }

.heading-4 {
  font-size: 3rem;
  color: #ec145b;
  font-weight: 700; }

.heading-5 {
  font-size: 3rem;
  color: #2C3E50;
  font-weight: 300; }

.heading-6 {
  font-size: 1.5rem;
  color: #999;
  font-weight: 300; }

.paragraph {
  line-height: 1.7;
  font-size: 1.8rem;
  font-weight: 400; }

nav .navbar-brand {
  font-size: 2.5rem; }
  nav .navbar-brand span {
    color: #ec145b; }

nav .nav-link {
  font-size: 1.6rem;
  color: #fff; }

header {
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 30rem; }
  header .col {
    transform: translateY(100%); }
  header .header-p {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700; }

.about-download:link, .about-download:visited {
  margin-right: 1rem;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  color: #ec145b;
  border: 1px solid #ec145b; }

.about-download:hover, .about-download:active {
  color: #fff;
  background-color: #000;
  border: none; }

.about-hireme:link, .about-hireme:visited {
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #ec145b; }

.about-hireme:hover, .about-hireme:active {
  color: #fff;
  background-color: #000;
  border: none; }

.about-info {
  font-weight: 700;
  color: #2C3E50;
  font-size: 1.4rem; }

.about-des {
  margin-right: 16rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #999; }

.skills {
  background-color: #f8f8f8; }
  .skills-icon {
    font-size: 6rem;
    color: #ec145b; }
