*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  color: #2C3E50;
  font-weight: 300;
  line-height: 1.6; }

.overlay-section {
  min-height: 80rem;
  background: rgba(0, 0, 0, 0.4); }

.heading-1 {
  font-size: 6rem;
  color: #fff; }

.heading-2 {
  font-size: 1.8rem;
  color: #2C3E50;
  font-weight: 700; }

.heading-3 {
  font-size: 3.5rem;
  color: #2C3E50;
  font-weight: 300; }

.heading-4 {
  font-size: 3rem;
  color: #ec145b;
  font-weight: 700; }

.heading-5 {
  font-size: 3rem;
  color: #2C3E50;
  font-weight: 300; }

.heading-6 {
  font-size: 1.5rem;
  color: #999;
  font-weight: 300; }

.paragraph {
  line-height: 1.7;
  font-size: 1.8rem;
  font-weight: 300; }

nav .navbar-brand {
  font-size: 2.5rem; }
  nav .navbar-brand span {
    color: #ec145b; }

nav .nav-link {
  font-size: 1.6rem;
  color: #fff; }

header {
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 30rem; }
  header .col {
    transform: translateY(100%); }
  header .header-p {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700; }

.about-download:link, .about-download:visited {
  margin-right: 1rem;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  color: #ec145b;
  border: 1px solid #ec145b; }

.about-download:hover, .about-download:active {
  color: #fff;
  background-color: #000;
  border: none; }

.about-hireme:link, .about-hireme:visited {
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #ec145b; }

.about-hireme:hover, .about-hireme:active {
  color: #fff;
  background-color: #000;
  border: none; }

.about-info {
  font-weight: 700;
  color: #2C3E50;
  font-size: 1.4rem; }

.about-des {
  margin-right: 16rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #999; }

.skills {
  background-color: #f8f8f8; }
  .skills-icon {
    font-size: 4rem;
    color: #ec145b;
    margin-right: 2rem; }

#portfolio .heading-5::after {
  content: "";
  height: 1px;
  width: 20rem;
  background: #ec145b;
  position: absolute;
  top: 7rem;
  left: calc(45% - 50px);
  z-index: 1; }

#portfolio .portfolio-card {
  width: 30rem;
  height: 40rem;
  perspective: 60rem;
  transform-style: preserve-3d;
  transition: 1s; }

#portfolio .portfolio-card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 1s; }

#portfolio .portfolio-card:hover .portfolio-card-front {
  transform: rotateX(-180deg); }

#portfolio .portfolio-card:hover .portfolio-card-back {
  transform: rotateX(0deg); }

#portfolio .portfolio-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 1s; }

#portfolio .portfolio-card-detail {
  margin-top: 15rem; }

#portfolio .card-header {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ec145b; }

#portfolio .card-tech {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff; }

#portfolio .card-icon {
  font-size: 2.4rem;
  color: #ec145b;
  margin: 1rem; }

#portfolio .card-icon:hover {
  color: #fff; }

#contact .heading-5::after {
  content: "";
  height: 1px;
  width: 20rem;
  background: #ec145b;
  position: absolute;
  top: 7rem;
  left: calc(45% - 50px);
  z-index: 1; }

#contact .btn-submit {
  background: #ec145b;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  transition: 1s; }

#contact .btn-submit:hover {
  background: #fff;
  color: #ec145b;
  border: 1px solid #ec145b; }
