*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  color: #2C3E50;
  font-weight: 300;
  line-height: 1.6; }

.overlay-section {
  min-height: 80rem;
  background: rgba(0, 0, 0, 0.4); }

.heading-1 {
  font-size: 6rem;
  color: #fff; }

.heading-4 {
  font-size: 3rem;
  color: #ec145b;
  font-weight: 700; }

nav .navbar-brand {
  font-size: 2.5rem; }
  nav .navbar-brand span {
    color: #ec145b; }

nav .nav-link {
  font-size: 1.6rem;
  color: #fff; }

header {
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 80rem; }
  header .col {
    transform: translateY(50%); }
  header .header-p {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 700; }
