#footer {
  background-color: $bg-grey;
  .footer-icon a i {
    font-size: 2rem;
    color: $color-primary;
    transition: 1s;
  }
  .footer-icon a i:hover {
    color: $color-secondary;
  }
  .footer-icon a {
    text-decoration: none;
  }
}
