header {
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 80rem;

  .col {
    transform: translateY(50%);
  }
  .header-p {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 700;
  }
}
