header {
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // min-height: 10rem;

  .col {
  transform: translateY(150%);
  }
  .header-p {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
  }
}
